.graph-tabs-wrapper {
  width: 50%;
  margin: 0 auto;
}

.stocks-graph {
  background: white;
  border-radius: 15px;
}

.tab {
  background: #ccc;
  display: inline;
  margin: 10px;
  padding: 10px 10px 5px 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 8px;
}

.tab-active {
  background: rgb(57, 119, 253);
  color: white;
}

.tab:hover {
  cursor: pointer;
}

.tab-disabled {
  background: #777;
  font-size: 25px;
}

.tab-disabled:hover {
  background: #999;
  font-size: 27px;
}
